opencv-python
opencv-python-headless
ultralytics
duckduckgo-search 
transformers 
segment-anything 
supervision
numpy
Pillow
torch
torchvision
torchaudio
matplotlib
pandas
scipy
seaborn
streamlit
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
langchain-tools
python-dotenv
sentence-transformers
huggingface
chromadb
PyYAML
requests
tqdm
gradio
faiss-cpu
pdfplumber
PyPDF2
spacy